<div class="navbar">
  <a href="{{ site.baseurl }}/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Overview
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/#the-idea">The Idea</a>
      <a href="{{ site.baseurl }}/#the-work">The Work</a>
      <a href="{{ site.baseurl }}/#the-team">The Team</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Outreach
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/#program">Program</a>
      <a href="{{ site.baseurl }}/#research">Research</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Community
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/#newsroom">Newsroom</a>
      <a href="{{ site.baseurl }}/#artistic-illustrator">Artistic Illustrator</a>
      <a href="{{ site.baseurl }}/#contact">Contact</a>
    </div>
  </div>
</div>